@{
    ViewData["Title"] = "Login";
}

<section id="login">
    <div class="form">
        <h2>Login</h2>
        <form class="login-form">
            <input type="text" name="email" id="email" placeholder="Username or Email" />
            <input type="password" name="password" id="password" placeholder="Password" />
            <button type="submit">Login</button>
            <p class="message">
                Not registered? <a href="/User/Register">Create an account</a>
            </p>
        </form>
    </div>
</section>