@using ClearCareer.Core.ViewModels
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<section id="register">
    <div class="form">
        <h2>Register</h2>
        <form onsubmit="onLoad(event)" class="login-form" href="/User/Register" method="post">
            <input asp-for="@Model.Username" type="text" placeholder="Username" />
            <input asp-for="@Model.Email" type="text" placeholder="Email" />
            <input asp-for="@Model.Password" type="password" placeholder="Password" />
            <input asp-for="@Model.ConfirmPassword" type="password" placeholder="Repeat Password" />
            <button type="submit">Register</button>
            <p class="message">Already registered? <a href="/User/Login">Login</a></p>
        </form>
    </div>
</section>

@section Scripts{
    <script src="~/js/register-validation.js"></script>
}